*{
    margin: 0;
    padding: 0;
}

.choices{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#choice{
    height: 165px;
    width: 165px;
    text-align: center;
}
#choice:hover{
    cursor: pointer;
    filter: drop-shadow(2px 1px 0.50rem black);
}

img{
    height: 150px;
    width: 150px;
    
}

.score-bord{
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, .comp-score{
    font-size: 2rem;
    
}

.result{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.msg{
    background-color: #081b31;
    padding: 1rem;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    display: inline;
    
    filter: drop-shadow(0 0 0.50rem black);

    border-radius: 1rem;
}

h1{
    background-color: #081b31;
    color: aliceblue;
    text-align: center;
    height: 3rem;
}

html{
    height: auto;
}



